################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TimedTaskList/bin/Release/netcoreapp3.1
